@import './styles/variables.scss';

.content {
  padding: 2em;
}

// table styles
.div-table {
  display: table;
}

.div-row {
  display: table-row;
  &.header {
    font-weight: bold;
  }
}

.div-cell {
  display: table-cell;
  padding: 0.5em;
}

// form styles
//Desktop site

input [type=text], select, input[type=submit],textarea, input[type=date] {
  width: 50%;

}

div .form-group{
  margin-bottom:16px;
}

label{
  margin-bottom: 4px;
}
button{
  margin: 8px;
}


//mobile site 
@media screen and (max-width: 600px) {
  div .form-group{
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  div .form-group{
    width: 100%;
  }
}